apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: i211197-mern-app
  labels:
    app: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: noorulain26/docker-mern-nginx-bezkoder-api-1:latest
        ports:
        - containerPort: 6868
        imagePullPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: i211197-mern-app
spec:
  type: NodePort
  selector:
    app: backend
  ports:
  - protocol: TCP
    port: 6868
    targetPort: 6868
    nodePort: 30300
