apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  namespace: i211197-mern-app
  labels:
    app: frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: noorulain26/docker-mern-nginx-bezkoder-ui-1:latest
        ports:
        - containerPort: 8888
        imagePullPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: i211197-mern-app
spec:
  type: NodePort
  selector:
    app: frontend
  ports:
  - protocol: TCP
    port: 8888
    targetPort: 8888
    nodePort: 30173
